body {
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

.menu {
    width: 100vw;
    position: absolute;
    bottom: 0;
    height: 100px;
    padding: 20px;
    background-color: darkcyan;
}

.menu .title {
    font-size: 10px;
    color: lightgoldenrodyellow;
    font-weight: 700;
    margin: 10px;
}

.menu .list {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.menu .list .item {
    float: left;
    margin: 0;
    padding: 0;
}

.menu .list .item .link {
    color: lightgoldenrodyellow;
    margin: 0 10px;
    padding: 20px;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 10px;
    display: block;
}

.menu .list .item .link:hover {
    color: darkcyan;
    background-color: lightgoldenrodyellow;
}